<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'user.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img class="icon" src="{% static 'icons8-hamburger-menu.svg' %}" alt="">
            <a href="/">
                <img class="youtube" src="{% static 'YouTube-Logo.wine.svg' %}" alt="">
            </a>
        </div>
        <div>
            <div class="search">
                <input class="search_input" type="text">
                <img class="icon" src="{% static 'icons8-search.svg' %}" alt="">
            </div>
            <img class="icon" src="{% static 'microphone-svgrepo-com.svg' %}" alt="">
        </div>
        <div>
            <a href="/create/">
                <img class="icon" src="{% static 'add-video-icon.svg' %}" alt="">
            </a>
            <img class="icon" src="{% static 'notification-bell-svgrepo-com.svg' %}" alt="">
            {% if user.is_authenticated %}
                <a class="lb" href="{% url 'logout_view' %}">logout</a>
                <a href="/user/?uname={{user}}">
                    {% if detail.profile_pic %}
                        <div style="background-image:url('{{detail.profile_pic}}')" class="header_profile">
                        </div>
                    {% else %}
                        <div style="background-image:url('{% static 'user-profile-avatar-svgrepo-com.svg' %}')" class="header_profile">
                        </div>
                    {% endif %}
                </a>
            {% else %}
                <a class="lb" href="{% url 'login_page' %}">login</a>
            {% endif %}
        </div>
    </header>
    <div class="home">
        <div class="sidebar">
            <div class="sidebar_ele">
                <div class="sidebar_button">
                    <a href="/">
                        <img class="icon" src="{% static 'icons8-home.svg' %}" alt="">
                        <p>Home</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'icons8-youtube-shorts.svg' %}" alt="">
                        <p>Shorts</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'video-playlist-icon.svg' %}" alt="">
                        <p>subscriptions</p>
                    </a>
                </div>
            </div>
            <div class="sidebar_ele">
                <p>You</p>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'user-channel(1).svg' %}" alt="">
                        <p>Your channel</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'history-svgrepo-com.svg' %}" alt="">
                        <p>History</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'play-1008-svgrepo-com.svg' %}" alt="">
                        <p>Your Video</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'watch-later.svg' %}" alt="">
                        <p>Watch later</p>
                    </a>
                </div>
                <div class="sidebar_button">
                    <a href="">
                        <img class="icon" src="{% static 'like-svgrepo-com.svg' %}" alt="">
                        <p>liked videos</p>
                    </a>
                </div>
            </div>
            <div class="sidebar_ele">
                <p>subscriptions</p>
            </div>
        </div>
        <div class="main">
            <div>
                {% if detail.profile_cover %}
                    <div style="background-image:url('{{detail.profile_cover}}')" class="cover">
                    </div>
                {% else %}
                    <div style="background-color: gray" class="cover">
                    </div>
                {% endif %}
                <div class="info">
                    {% if detail.profile_pic%}
                        <div style="background-image:url('{{detail.profile_pic}}')" class="profile">
                        </div>
                    {% else %}
                        <div style="background-image:url('{% static 'user-profile-avatar-svgrepo-com.svg' %}')" class="profile">
                        </div>
                    {% endif %}
                    <div class="info_details">
                        <p>{{curr_user}}</p>
                        <p>{{curr_user.first_name}} {{curr_user.last_name}} {{subscribers_count}} subscribers . {{data.count}} videos</p>
                        <p>{{detail.user_description}}</p>
                        {% if subscribed == True %}
                            <p>
                                <a href="/subscribe/?uname={{curr_user}}&subscribee={{curr_user}}&subscriber={{user}}">subscribed</a>
                            </p>
                        {% else %}
                            <p>
                                <a href="/subscribe/?uname={{curr_user}}&subscribee={{curr_user}}&subscriber={{user}}">subscribe</a>
                            </p>
                        {% endif %}
                        {% if curr_user == user %}
                            <p>
                                <a href="/update/?uname={{user}}">edit profile</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="content">
                {% for entry in data %}
                    <div> 
                        <a href="/video/?id={{ entry.video_id }}">
                            <!-- <img class="video" src="{{ entry.url }}" alt=""> -->
                            <video class="vid">
                                <source src="{{entry.url}}" type="video/mp4">
                            </video> 
                            <!-- <img src="{{entry.url}}" alt=""> -->
                            <p>{{ entry.title }}</p>
                        </a>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>